@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rowdies&display=swap');


.bg-steel {
  background-color: #25a6ff;

}


 .ttt{

  font-size: 30px;
  color: black;
  font-family: "Fredoka One", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);

} 